<div class="col-md-12">
  <h2 class="text-center">Add Hotel</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="Descriptions" name="description" class="form-control" id="description">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input formControlName="price" placeholder="Mean Room Price" name="price" class="form-control" id="price">
    </div>

    <button class="btn btn-success">Update</button>
    <button class="btn btn-danger cancel" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
