<div id="list-hotel" class="container-fluid">
  <h2> Hotel Details</h2>
  <hr/>
  <button class="btn btn-primary" (click)="addHotel()"> Add Hotel</button>
  <hr/>
  <div class="table-responsive">
    <table class="table table-striped align-middle">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Mean Room Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotels">
      <td class="hidden">{{hotel.id}}</td>
        <td>{{hotel.name}}</td>
        <td>{{hotel.description}}</td>
        <td>{{hotel.price | number | currency:'EUR'}}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="deleteHotel(hotel)"> Delete</button>
          <button class="btn btn-secondary me-2" (click)="editHotel(hotel)"> Edit</button>
          <button class="btn btn-primary me-2" (click)="hotelDetails(hotel)"> Details</button>
        </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
