<div class="col-md-12">
  <h2> Hotel Details</h2>
  <hr/>
  <button class="btn btn-danger" (click)="addHotel()"> Add Hotel</button>
  <hr/>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Mean Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotels">
      <td class="hidden">{{hotel.id}}</td>
      <td>{{hotel.name}}</td>
      <td>{{hotel.description}}</td>
      <td>{{hotel.price | number | currency:'EUR'}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteHotel(hotel)"> Delete</button>
        <button class="btn btn-danger" (click)="editHotel(hotel)" style="margin-left: 20px;"> Edit</button>
        <button class="btn btn-info" (click)="hotelDetails(hotel)" style="margin-left: 10px"> Details</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
